# Ignore .env files
*.env

# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
*.env

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/
temp/
